<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018288865714-qg1683e32ivcf0rm8okd92o1nu25mbjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018288865714-qg1683e32ivcf0rm8okd92o1nu25mbjk</string>
	<key>API_KEY</key>
	<string>AIzaSyA8YJ64AJeT6IGMEG0Sp9llLcYds3Xhy-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1018288865714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahimov.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-b9244</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-b9244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018288865714:ios:773d979665dd165c5ba4ab</string>
</dict>
</plist>